.dashboard-card {
  background-color: var(--background-color);
  padding: var(--content-padding);
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-main {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
}
