.project-cycle {
    padding: var(--section-padding) var(--content-padding);
    background-color: var(--background-light);
  display: grid;
  flex-direction: column;
    gap: var(--gap-large);
  }
.project-cycle h2{
    text-align: center;
    margin-bottom: var(--gap-large);
}
.cycle-steps {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}

.step {
    padding: var(--content-padding);
}
@media (min-width: 768px) {
    .cycle-steps {
      flex-direction: row;
    }
    .project-cycle {
      grid-template-columns: 2fr 1fr;
    }
}
@media (max-width: 768px) {
    .project-cycle {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
  .cycle-content {
    grid-template-columns: 1fr;
  }
}
